.list-item {
  border: none !important; 
  box-shadow: none !important; 
  border-radius: 10px !important; 
  background-color: transparent !important;
  width: 100%;
  margin: 0px !important;
}
.list-group {
  display: flex;
  flex-direction: column;
  align-items: center; /* Căn giữa nội dung theo chiều ngang */
}
/* Khi được chọn: nền xanh #144E8C */
.list-group-item.list-item.active {
  background-color: #144E8C !important;
  color: #fff !important; /* Màu chữ khi chọn */
  border-color: #144E8C;
}
.list-group-item.list-item:not(.active-tab):hover {
  color: #144E8C;
}
.btn-edit {
  /* width: fit-content; */
  /* display: flex; */
  /* margin-left: auto; */
  height: auto; /* Tự điều chỉnh chiều cao */
}
.img {
  height: auto;
  width: 100px;
  }
.content {
  flex: 1;
  min-height: 100vh;
}

button {
  padding: 13px 16px; /* Kích thước nút */
  border: none; /* Loại bỏ viền */
  border-radius: 10px; /* Góc bo tròn */
  cursor: pointer; /* Con trỏ chuyển thành tay khi rê chuột */
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu */
  font-size: 16px; /* Kích thước chữ */
}

.listuser {
    background-color: #144E8C;
    color: #ffffff;
    border: none;
    display: flex;
    justify-content: end;
}
.background {
  background-color: #F5F5F5;
}
.navbar-left{
  min-height: 100vh; 
  background-color: #ffffff !important;
  padding-top: 20px; 
}
@media (max-width: 1080px) {
  .navbar-left {
    min-height: auto; 
    padding-top: 10px;
  }
}
.background {
  background-color: #F5F5F5;
}
.club-logo {
  width: 100px; 
  height: 100px;
  border-radius: 50%; 
  object-fit: cover; 
  border: 3px solid rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease-in-out;
  margin-bottom: 16px;
}
.form-control {
	padding: 13px 16px; /* Kích thước nút */
	border-radius: 10px; /* Góc bo tròn */
	font-size: 16px; /* Kích thước chữ */
  }