.list-item {
  border: none !important; 
  box-shadow: none !important; 
  border-radius: 10px !important; 
  background-color: transparent !important;
  width: 100%;
  margin: 0px !important;
}
.list-group {
  display: flex;
  flex-direction: column;
  align-items: center; /* Căn giữa nội dung theo chiều ngang */
}

.list-group-item.list-item.active {
  background-color: #144E8C !important;
  color: #fff !important;
  border-color: #144E8C;
}
.list-group-item.list-item:not(.active-tab):hover {
  color: #144E8C;
}
.btn-edit {
  height: auto;
}
.img {
  height: auto;
  width: 100px;
  }
.content {
  flex: 1;
  min-height: 100vh;
}

button {
  padding: 13px 16px; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  font-size: 16px;
}
.navbar-left{
  min-height: 100vh; 
  background-color: #ffffff;
  /* display: flex;
  align-items: flex-start;  */
  padding-top: 20px; 
}
@media (max-width: 1080px) {
  .navbar-left {
    min-height: auto; /* Bỏ min-height */
    padding-top: 10px; /* Có thể giảm padding nếu cần */
  }
}

.background {
  background-color: #F5F5F5;
}
.form-control {
	padding: 13px 16px; /* Kích thước nút */
	border-radius: 10px; /* Góc bo tròn */
	font-size: 16px; /* Kích thước chữ */
  }