/* Thêm màu nền và kiểu chữ cho tab đang được chọn */
.active-tab {
    /* background-color: #144E8C; 
    color: #ffffff;  */
  }
  
/* Tùy chọn: Thay đổi màu chữ khi di chuột qua các thẻ */
.list-item {
  border: none !important; 
  box-shadow: none !important; 
  border-radius: 10px !important; 
  background-color: transparent !important;
}

/* Khi được chọn: nền xanh #144E8C */
.list-group-item.list-item.active {
  background-color: #144E8C !important;
  color: #fff !important;
  border-color: #144E8C;
}
.list-group-item.list-item:not(.active-tab):hover {
  color: #144E8C;
}
.btn-edit {
  height: auto;
}
.img {
  height: auto;
  width: 100px;
  }
.content {
  flex: 1;
  min-height: 100vh;
}

button {
  padding: 13px 16px; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  font-size: 16px;
}
.navbar-left{
  min-height: 100vh; 
    background-color: #ffffff;
    display: flex;
    align-items: flex-start; 
    padding-top: 20px; 
}
.background {
  background-color: #F5F5F5;
}