<div class="container-fluid">
    <app-header class="fixed-header"></app-header>
    <div class="container-fuild row mb-4 content">
        <img class="event-banner" src="/assets/images/events-banner/banner1.jpeg" alt="">
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 mb-4">
              <div class="content card">
                <div class="event-content p-3 shadow-sm">
                  <h2 class="event-title">{{ eventDetail?.title }}</h2>
                  <p>{{ eventDetail?.description }}</p>
                </div>
              </div>
            </div>
          <!-- Phần thông tin sự kiện -->
          <div class="col-md-4 mb-4">
            <div class="event-info card p-3 border shadow-sm d-flex justify-content-center">
              <h4 class="text-center">THÔNG TIN SỰ KIỆN</h4>
              <p><i class="fas fa-clock"></i> <b>Thời gian:</b> {{ eventDetail?.startDate }}</p>
              <p><i class="fas fa-map-marker-alt"></i><b>Địa điểm:</b> {{ eventDetail?.location }}</p>
              <p><i class="fas fa-users"></i><b>Vé còn:</b> {{ eventDetail?.availableSeats }} / {{ eventDetail?.totalSeats }}</p>
              <div>
                <app-button 
                    class="login-button"
                    [text]="isRegisteredForEvent ? 'Đã đăng ký' : 'Đăng ký'" 
                    [color]="isRegisteredForEvent ? '#6c757d' : '#F05A22'"
                    [hoverColor]="isRegisteredForEvent ? '#6c757d' : '#F05A22'"
                    [textColor]="'#fff'"
                    (buttonClick)="openModal()">
                </app-button>
              </div>
              <!-- Modal Form -->
            <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header align-items-center text-center">
                    <h5 class="modal-title " id="registerModalLabel">FORM ĐĂNG KÝ THAM GIA</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="username" placeholder=" " required />
                            <label for="text">Họ và tên</label>
                        </div>   
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" placeholder=" " required />
                            <label for="email">Email</label>
                        </div>        
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="idnumber" placeholder=" " required />
                            <label for="idnumber">Mã số sinh viên</label>
                        </div>  
                        <div class="form-floating mb-3">
                            <input type="phone" class="form-control" id="phone" placeholder=" "/>
                            <label for="phone">Số điện thoại</label>
                        </div>  
                        <app-button 
                            class="login-button"
                            text="Đăng ký" 
                            color="#F05A22"
                            hoverColor="#F05A22"
                            textColor="#fff"
                            >
                        </app-button>
                    </form>
                    </div>
                </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
</div>
