<div class="container-fluid">
    <app-header></app-header>
    <div class="vh-100 d-flex flex-column mt-4 mb-4">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-start">
                <div class="col-3 text-center mb-3">
                    <img src="{{faculty.facultyLogo}}" class="club-logo img-fluid" alt="Logo 3">
                </div>
                <div class="col-9 card rounded-4 p-3">
                    <div class="row club-title">
                        <h3>{{faculty.facultyName}}</h3>
                    </div>
                    <div class="row">
                        <p>{{faculty.facultyDescription}}</p>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Thêm một row riêng để tiêu đề xuống dòng -->
        <div class="container text-center mt-4">
            <div class="row">
                <div class="col-12 title">
                    <span class="blue">SỰ KIỆN</span> 
                    <span class="orange m-1">NỔI BẬT</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4 mb-4">
        <div class="row row-cols-1 row-cols-md-3 g-4"> 
            <div class="col" *ngFor="let event of appEvents">
                <a class="cardevent" [routerLink]="['/event-detail', event.id]">
                    <div class="card h-100 p-2 rounded-4">
                        <img
                          [src]="event.imageUrl"
                          class="card-img-top rounded-3"
                          alt="Event Image"
                        />
                        <div class="card-body">
                            <h5 class="card-title">{{ event.title.length > 31 ? (event.title | slice:0:31) + '...' : event.title }}</h5>
                            <p class="card-text">
                              <i class="fas fa-clock"></i>
                              {{ event.startDate | date: 'short' }} - {{ event.endDate | date: 'short' }}
                            </p>
                            <p class="card-text">
                              <i class="fas fa-users"></i>
                              Tổng vé: {{ event.totalSeats }} (Còn lại: {{ event.availableSeats }})
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>