<footer>
    <div class="container-fluit">
        <div class="container">
            <div class="row">
                    <div class="col-2">
                        <img class="logo" src="assets/images/logo/uel_logo_white.png" alt="">
                    </div>
                    <div class="col-1">
                        
                    </div>
                    <div class="col-3">
                        <ul>
                            <li>
                                <h4>THÔNG TIN LIÊN HỆ</h4> 
                            </li>
                            <li>
                                <div class="line-li">
                                    <img src="assets/images/icons/ic_phone.svg" alt="">
                                    <h5> (028) 372 44550 </h5>
                                </div>
                            </li>
                            <li>
                                <div class="line-li">
                                    <a class="line-li mailto" href="mailto:tuanna21411@st.uel.edu.vn?subject=[WEBSITE UEL EVENT]">
                                        <img src="assets/images/icons/ic_email.svg" alt="">
                                        <h5> bantruyenthonguel&#64;uel.edu.vn</h5>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-3">
                        <ul>
                            <li>
                                <h4>ĐỊA CHỈ</h4> 
                            </li>
                            <li>
                                <div class="line-li">
                                    <img src="assets/images/icons/ic_location.svg" alt="">
                                    <h5> Phòng 201, tầng 2, trường Đại học Kinh tế - Luật (ĐHQG.HCM) </h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul>
                            <li>
                                <div class="line-li">
                                    <a href="#">
                                        <img class="ic_social" src="assets/images/icons/ic_facebook.svg" alt="">
                                    </a>
                                    <a href="#">
                                        <img class="ic_social" src="assets/images/icons/ic_tiktok.svg" alt="">
                                    </a>
                                    <a href="#">
                                        <img class="ic_social" src="assets/images/icons/ic_youtube.svg" alt="">
                                    </a>
                                    
                                    
                                    
                                </div>
                            </li>
                            
                        </ul>
                    </div>
            </div>
        </div>
    </div>
</footer>

