.container-fluid {
    padding: 0;
  }
.fixed-header {
  position: fixed;
  width: 100%;
  z-index: 1030;
}
.card-body {
  padding-right: 6px;
  padding-left: 6px;
}
.card-text{
  margin-bottom: 8px;
}
.fas{
  margin-right: 8px;
  width: 24px;
  height: auto;
}
.title {
  font-size: 36px; 
  font-weight: bold; 
  text-align: center; 
}

.title .blue {
  color: #144E8C;
}

.title .orange {
  color: #F05A22;
}
.cardevent {
  text-decoration: none;
}

.imagehome {
  width: 630px;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out;
}

.imagehome:hover {
  transform: scale(1.05);
}
.club-logo {
  width: 100px; 
  height: 100px;
  border-radius: 50%; 
  object-fit: cover; 
  border: 3px solid rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease-in-out;
  margin-bottom: 16px;
}

.club-logo:hover {
  transform: scale(1.1);
}
.point{
  margin: 0;
}
.material-icons{
  color: #F05A22;
}