<div class="container-fluid">
    <app-header class="fixed-header"></app-header>
    <div class="content">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/images/events-banner/ai4i_AI4everyonebanner.png" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="/assets/images/events-banner/gpa_khoinghiepkinhdoanhbanner.png" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="/assets/images/events-banner/akina_banner.png" class="d-block w-100" alt="">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="container align-items-center text-center pt-4 title">
          <span class="blue">SỰ KIỆN</span> <span class="orange m-1">NỔI BẬT</span>
        </div>
      
      <!-- Sự kiện -->
        <div class="container mt-4 mb-4">
            <div class="row row-cols-1 row-cols-md-3 g-4"> 
                <div class="col" *ngFor="let event of appEvents">
                    <a class="cardevent" [routerLink]="['/event-detail', event.id]">
                        <div class="card h-100 p-2 rounded-4">
                            <img
                              [src]="event.imageUrl"
                              class="card-img-top rounded-3"
                              alt="Event Image"
                            />
                            <div class="card-body">
                                <h5 class="card-title">{{ event.title.length > 31 ? (event.title | slice:0:31) + '...' : event.title }}</h5>
                                <p class="card-text">
                                  <i class="fas fa-clock"></i>
                                  {{ event.startDate | date: 'short' }} - {{ event.endDate | date: 'short' }}
                                </p>
                                <p class="card-text">
                                  <i class="fas fa-users"></i>
                                  Tổng vé: {{ event.totalSeats }} (Còn lại: {{ event.availableSeats }})
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
      <!-- end event -->
       <!-- TRẢI NGHIỆM & KẾT NỐI -->
        <div class="container align-items-center text-center pt-4 title">
            <span class="blue">TRẢI NGHIỆM</span> <span class="orange m-1">& KẾT NỐI</span>
        </div>
        <div class="container mt-4 mb-4">
            <div class="row">
                <div class="col-md-6 col-sm-12 d-flex justify-content-center">
                    <img class="imagehome rounded-4 img-fluid" src="/assets/images/logo/UEL.png" alt="">
                </div>
                <div class="col-md-6 col-sm-12 p-4">
                    <div class="row mb-4">
                        <div class="col-6 p-2">
                            <div class="row mb-2 text-center text-md-start">
                                <span class="material-icons">circle</span>
                            </div>
                            <div class="row mb-2 text-center text-md-start point">
                              Tham gia các hoạt động phong phú từ hội thảo, workshop đến các cuộc thi hấp dẫn.
                            </div>
                        </div>
        
                        <div class="col-6 p-2">
                            <div class="row mb-2 text-center text-md-start">
                                <span class="material-icons">circle</span>
                            </div>
                            <div class="row mb-2 text-center text-md-start point">
                              Sự kiện diễn ra tại các khu vực trung tâm trong và ngoài khuôn viên trường, thuận tiện cho sinh viên tham gia
                            </div> 
                        </div>
                    </div>
        
                    <div class="row mb-4">
                        <div class="col-6 p-2">
                            <div class="row mb-2 text-center text-md-start">
                                <span class="material-icons">circle</span>
                            </div>
                            <div class="row mb-2 text-center text-md-start point">
                              Mở rộng mối quan hệ với các chuyên gia, doanh nghiệp và cộng đồng sinh viên năng động
                            </div>
                        </div>
        
                        <div class="col-6 p-2">
                            <div class="row mb-2 text-center text-md-start">
                                <span class="material-icons">circle</span>
                            </div>
                            <div class="row mb-2 text-center text-md-start point">
                              Nhận chứng chỉ, quà tặng và nhiều cơ hội hấp dẫn khi tham gia các sự kiện.
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container align-items-center text-center pt-4 title mb-4">
            <span class="blue">TỔ CHỨC</span>
            <div class="logo-slider">
                <button id="prevBtn" class="slider-btn">❮</button>
                <a class="logo-container">
                    <div class="logo-track">
                        <ng-container *ngFor="let faculty of faculties">
                          <img 
                            *ngIf="faculty.facultyLogo !== null" 
                            [src]="faculty.facultyLogo" 
                            class="club-logo" 
                            [alt]="faculty.facultyName" 
                            [routerLink]="['/faculty', faculty.id]"
                          />
                        </ng-container>
                    </div>
                      
                    
                    <!-- <ng-container *ngFor="let user of participants; let i = index">
                        <tr *ngIf="user.username !== null">
                          <td>{{ i + 1 }}</td>
                          <td>{{ user.id }}</td>
                          <td>{{ user.username }}</td>
                          <td>{{ user.email }}</td>
                        </tr>
                      </ng-container> -->
                </a>
                <button id="nextBtn" class="slider-btn">❯</button>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>