<div class="container-fluid">
    <app-header class="fixed-header"></app-header>
    <div class="content">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/images/events-banner/1958x745.png" class="d-block w-100" alt="">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/events-banner/1958x745.png" class="d-block w-100" alt="">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/events-banner/banner1.jpeg" class="d-block w-100" alt="">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="container align-items-center text-center pt-4 title">
        <span class="blue">SỰ KIỆN</span> <span class="orange m-1">CHẤT</span>
      </div>
      <!-- Sự kiện -->
      <div class="container mt-4 mb-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          
            <div class="col" *ngFor="let event of appEvents">
              <a class="cardevent" [routerLink]="['/event-detail', event.eventID]">
                <div class="card h-100 p-2 rounded-4">
                  <img
                    [src]="event.imageUrl"
                    class="card-img-top rounded-3"
                    alt="Event Image"
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{ event.title.length > 31 ? (event.title | slice:0:31) + '...' : event.title }}</h5>
                    <p class="card-text">
                      <i class="fas fa-clock"></i>
                      {{ event.startDate | date: 'short' }} - {{ event.endDate | date: 'short' }}
                    </p>
                    <p class="card-text">
                      <i class="fas fa-users"></i>
                      Tổng vé: {{ event.totalSeats }} (Còn lại: {{ event.availableSeats }})
                    </p>
                  </div>
                </div>
              </a>
            </div>
       
          

          
        </div>
      </div>
      
    </div>
    <app-footer></app-footer>
</div>