<div class="container-fluid">
    <app-header class="fixed-header"></app-header>
    <div class="container  vh-100 d-flex justify-content-center align-items-center mt-4 mb-4 content">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="text-center mb-3" style="color: #F05A22; font-weight: 600;">ĐĂNG KÝ</h2>
                    <form>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" placeholder=" " required />
                            <label for="email">Email</label>
                        </div>   
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="username" placeholder=" " required />
                            <label for="text">Họ và tên</label>
                        </div>        
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="password" placeholder=" " required />
                            <label for="email">Mật khẩu</label>
                        </div>  
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="passwordcheck" placeholder=" " required />
                            <label for="email">Nhập lại mật khẩu</label>
                        </div>  
                        <div>
                            <app-button 
                                class="login-button"
                                text="Đăng ký" 
                                color="#F05A22"
                                hoverColor="#F05A22"
                                textColor="#fff">
                            </app-button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <a href="/forgetpassword" class="text-decoration-none" style="color: #F05A22">Quên mật khẩu?</a>
                    </div>
                    <div class="text-center mt-2">
                        <span>Đã có tài khoản? </span>
                        <a href="/login" class="text-decoration-none">Đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
  
   